article h2 {
    color: black; /* Dark teal for h2 within article */
}

article h3 {
    margin-top: 20px; /* Add margin above the heading */
    color: black; /* Dark teal for h3 elements */
}

h2.AcademicTitle {
    color: #004d40; /* Dark teal for specific h2 elements */
}
nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 20px 0 0 0; /* Remove margin at the top of the list */
    display: flex;
    
}
nav ul li {
    margin-right: 8px; /* Adjust margin between navigation links */
}
nav ul li a {
    font-size: 13px; /* Adjust font size for navigation links */
    text-decoration: none; /* Remove underline */
    padding: 5px 10px; /* Adjust padding */
    border-radius: 5px; /* Add border radius */
    color: white; /* Set text color */
    background-color: transparent; /* Keep background transparent */
    transition: all 0.3s ease; /* Add transition effect */
}
nav ul li a:hover {
    background-color: #00796b; /* Teal background on hover */
    color: white; /* Keep text color on hover */
}

article {
    width: 95%; /* Make article full width */
    margin: 0 auto;
}

article ul {
    list-style-type: none; /* Remove default list style */
    padding-left: 0; /* Remove default padding */
}
article h3 {
    margin-top: 20px; /* Add margin above the heading */
    color: black; /* Dark teal for h3 elements */
}
article h3:before {
    content: "•"; /* Add bullet point before heading */
    display: inline-block;
    margin-right: 5px; /* Add spacing between bullet point and text */
    color: black;
    font-size: 12px; /* Adjust bullet point size */
}
