        article {
            width: 95%; /* Make article full width */
            margin: 0 auto;
            text-align: justify; /* Align text in article */
        }
        
        article ul {
            list-style-type: none; /* Remove default list style */
            padding-left: 0; /* Remove default padding */
        }
        article h3 {
            margin-top: 20px; /* Add margin above the heading */
            color: black; /* Dark teal for h3 elements */
        }
        article h3:before {
            content: "•"; /* Add bullet point before heading */
            display: inline-block;
            margin-right: 5px; /* Add spacing between bullet point and text */
            color: black; /* Dark teal for bullet point */
        }
        article h3 + ul {
            margin-top: 0; /* Remove margin between heading and list */
        }
        article li {
            margin-left: 20px; /* Add margin to align with heading */
            color: black; /* Set color for list items */
        }
        article p {
            color: black; /* Set color for paragraphs */
        }

        article a {
    color: #D99112; /* Change link text color to black */
    text-decoration: none; /* Remove the underline */
}

article a:hover {
    color: #895C0D; /* Optional: Change color on hover */
    text-decoration: underline; /* Optional: Add underline on hover */
}
article h2 {
            color: black; /* Dark teal for article headings */
        }

nav ul {
            list-style-type: none; /* Remove bullet points */
            padding: 0;
            margin: 20px 0 0 0; /* Remove margin at the top of the list */
            display: flex;
            justify-content: center; /* Align links horizontally */
        }


nav ul li {
            margin-right: 8px; /* Adjust margin between navigation links */
        }
        nav ul li a {
            font-size: 13px; /* Adjust font size for navigation links */
            text-decoration: none; /* Remove underline */
            padding: 5px 10px; /* Adjust padding */
            border-radius: 5px; /* Add border radius */
            color: white; /* White text color */
            background-color: transparent; /* Keep background transparent */
            transition: all 0.3s ease; /* Add transition effect */
        }
        nav ul li a:hover {
            background-color: #00796b; /* Teal background on hover */
            color: white; /* Keep text color on hover */
        }

nav.secondary-nav ul {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 20px 0;
        }

        nav.secondary-nav ul li {
            margin: 0 15px;
            display: flex;
            align-items: center; /* Align items vertically in the center */
        }

        /* Styles for Photos, Awards, Fun links */
        nav.secondary-nav ul li a {
            font-size: 16px; /* Adjust font size */
            color: #004d40; /* Dark teal for link color */
            text-decoration: none; /* Remove underline */
            font-weight: bold; /* Make text bold */
            border: 2px solid #004d40; /* Add border around link */
            padding: 5px 10px; /* Add padding */
            border-radius: 5px; /* Add rounded corners */
            transition: all 0.3s ease; /* Add transition for hover effect */
        }

        nav.secondary-nav ul li a:hover {
            background-color: #004d40; /* Dark teal background on hover */
            color: white; /* White text color on hover */
        }
/* Add margin to space between Download Resume and Professional Accomplishments */
        .professional-accomplishments {
            margin-top: 20px; /* Add desired space above */
        }

.fullscreen-image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }
        .fullscreen-image img {
            max-width: 90%;
            max-height: 90%;
            cursor: pointer;
            position: relative;
        }
        .fullscreen-controls {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            z-index: 10000;
        }
        .next-previous {
            color: #ffffff; /* White color for controls */
            font-size: 24px;
            cursor: pointer;
            position: relative;
        }
        .previous {
            left: 10px;
        }
        .next {
            right: 10px;
        }
        .close-fullscreen {
            color: #ffffff; /* White color for close button */
            font-size: 24px;
            cursor: pointer;
        }
        .photo-description {
    color: white; /* Text color */
    font-size: 20px;
    position: absolute;
    bottom: 60px; /* Adjust this value to move the description up or down */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5); /* Light black with 50% transparency */
    padding: 10px; /* Optional: Adds padding around the text */
    border-radius: 5px; /* Optional: Rounds the corners of the background */
}

        
        /* Add cursor pointer for photos */
        .fullscreen-trigger {
            cursor: pointer;
        }

        /* Image responsiveness */
        img.responsive {
            width: 100%;
            height: auto;
            max-width: 1300px;
        }
        

        /* Adjustments for image container */
        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px; /* Adjusted spacing between images */
        }

        .image-container img {
            max-width: calc(33.33% - 20px); /* Adjusted width of each image */
            height: auto;
            border-radius: 10px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

        .image-container img:hover {
            transform: scale(1.05); /* Increased size on hover */
        }
