.download-resume a {
    font-size: 16px;
    text-decoration: none;
    color: #004d40;
    font-weight: bold;
    border: 2px solid #004d40;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.download-resume a:hover {
    background-color: #004d40;
    color: white;
}
nav ul li a:hover {
    background-color: #ffa500; /* Change to orange */
    color: #fff;
    transform: translateX(10px); /* Slide effect */
}
nav ul {
    text-align: center;
}

nav.secondary-nav ul li a {
    font-size: 16px; /* Adjust font size */
    color: #004d40; /* Dark teal for link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
    border: 2px solid #004d40; /* Add border around link */
    padding: 5px 10px; /* Add padding */
    border-radius: 5px; /* Add rounded corners */
    transition: all 0.3s ease; /* Add transition for hover effect */
}

nav.secondary-nav ul li a:hover {
    background-color: #004d40; /* Dark teal background on hover */
    color: white; /* White text color on hover */
}

